<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- FAVICONS ICON -->
<th:block th:fragment="csstable">

<link rel="shortcut icon" type="image/png" href="../static/images/logo%20projet.png.png">
<!-- Datatable -->
<link th:href="@{/../static/vendor/datatables/css/jquery.dataTables.min.css}" rel="stylesheet">
<!-- Custom Stylesheet -->
<link th:href="@{/../static/vendor/jquery-nice-select/css/nice-select.css}" rel="stylesheet">
<link th:href="@{/../static/css/style.css}" rel="stylesheet">
  </th:block>

</html>