<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>ListContact</title>
  <link rel="stylesheet" href="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>

<div class="container-fluid text-center">
  <div class="m-2"><h2> Ajouter contacts</h2></div>
  <div class="m-2"><a class="h3" th:href="@{/contact/new}">Ajouter nouveau contact</a></div>
  <div th:if="${message}" class="alert alert-success text-center">
    [[${message}]]
  </div>

  <div>
    <table class="table table-bordered">
      <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Prenom</th>
        <th>Email</th>
        <th>Numero Telephone</th>
        <th>Adresse Habitation</th>
        <th>Nom Entreprise</th>
        <th>Preoccupation</th>
        <th></th>
      </tr>

      </thead>
      <tbody>
      <th:block th:each="contact : ${listContacts}">
        <tr>
          <td>[[${contact.id}]]</td>
          <td>[[${contact.nom}]]</td>
          <td>[[${contact.prenom}]]</td>
          <td>[[${contact.email}]]</td>
          <td>[[${contact.numeroTelephone}]]</td>
          <td>[[${contact.adresseHabitation}]]</td>
          <td>[[${contact.nomEntreprise}]]</td>
          <td>[[${contact.preoccupaation}]]</td>
          <td>
            <a class="h4 mr-3" th:href="@{'/contact/edit/' + ${contact.id}}">Edit</a>
            <a class="h4" th:href="@{'/contact/delete/' + ${contact.id}}">Delete</a>
          </td>
        </tr>
      </th:block>

      </tbody>
    </table>


  </div>
</div>
</body>
</html>