<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cover Page</title>
  <link rel="stylesheet" href="stylecover.css">
</head>
<body>
<div class="cover-container">
  <header class="masthead">
    <div class="inner">
      <h1 class="cover-heading">Bienvenue sur CmPro</h1>
      <p class="lead">Votre temps est précieux.</p>
      <a th:href="@{/page-register}" class="btn btn-primary">Cliquez-ici</a>
    </div>
  </header>
</div>
<script src="jscover.js"></script>
</body>
</html>

